In [1]:
# Program to find unique words in a sentence

# getting input from user
sentence = input("Enter sentence: ")

# splitting the sentence into words
word_list = sentence.split()

# using set to remove duplicate words
unique_words = set(word_list)

# printing count of unique words
print("Unique words count:", len(unique_words))

# printing unique words
print("Unique words:", unique_words)

Enter sentence: Enter sentence: python is easy and python is powerful
Unique words count: 7
Unique words: {'easy', 'python', 'and', 'Enter', 'powerful', 'sentence:', 'is'}

In [3]:
# Program to find employee with highest salary

# dictionary storing employee names and salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# finding employee with highest salary
highest_employee = max(employees, key=employees.get)

# printing result
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

In [4]:
# Program to find maximum and minimum values in a list

# given list
numbers = [45, 22, 89, 10, 66]

# initializing max and min values
max_value = numbers[0]
min_value = numbers[0]

# checking each element using loop
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

# printing results
print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [5]:
# Program to count products with price greater than 1000

# list of product prices
prices = [450, 1200, 899, 1500, 300]

# counter variable
count = 0

# checking each price
for price in prices:
    if price > 1000:
        count += 1

# printing result
print("Products above 1000:", count)

Products above 1000: 2

In [6]:
# Program to calculate attendance percentage

# attendance list
attendance = ["P", "P", "A", "P", "P"]

# counting present days
present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

# total number of days
total_days = len(attendance)

# calculating percentage
percentage = (present_count / total_days) * 100

# printing result
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [7]:
# Program to remove duplicate phone numbers

# list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# converting list into set to remove duplicates
unique_numbers = set(phone_numbers)

# printing unique phone numbers
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [8]:
# Program to count frequency of each character

# given string
text = "python"

# empty dictionary
char_count = {}

# counting characters
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

# printing result
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
# Program to convert list into tuple

# given list
numbers = [10, 20, 30]

# converting list to tuple
num_tuple = tuple(numbers)

# printing tuple
print("Tuple:", num_tuple)

Tuple: (10, 20, 30)

In [10]:
# Program to check if a key exists in a dictionary

# dictionary of employees
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# key to check
key_name = "Ravi"

# checking if key exists
if key_name in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [11]:
# Program to calculate average marks

# list of marks
marks = [70, 75, 80, 65]

# calculating total marks
total = sum(marks)

# number of subjects
count = len(marks)

# calculating average
average = total / count

# printing result
print("Average Marks:", average)

Average Marks: 72.5